*{
    margin: 0;
    padding: 0;
}

:root {

    /* Colors */
    --color-primary-50: #9747FF;
    --color-brackground-light: #FFFFFF;
    --color-font-grafite-light: #232323;
    --color-font-white: #fff;

    /* Typography */
    --fonte: 'Inter', sans-serif;

    --font-size-b: 1rem;
    --font-size-m: 1.5rem;
    --font-size-xl: 4rem;

    /* Padding*/
    --padding-b: 1rem;
    --padding-m: 1.5rem;
    --padding-l: 2rem;
    --padding-xl: 3rem;

}

body {
    background-color: var(--color-brackground-light);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 64px;
}

.fisrt-box {
    display: flex;
    width: 792px;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-family: var(--fonte);
    padding-top: 60px;
    padding-bottom: 24px;
    text-align: center;
    color: var(--color-font-grafite-light);
}

h1 span {
    color: var(--color-primary-50);
}

p {
    font-size: var(--font-size-m);
    padding-bottom: 48px;
    text-align: center;
    color: var(--color-font-grafite-light);
}


.primary-button {
    font-family: var(--fonte);
    font-size: var(--font-size-m);
    font-weight: 600;
    background-color: var(--color-primary-50);
    padding: 24px 48px;
    border-radius: 36px;
    border: none;
    color: var(--color-font-white);
    text-decoration: none;
}